.yearBlock {
  height: fit-content;
  font-size: var(--font-size_small);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 20px 25px;
  width: 150px;
  border-radius: var(--border-radius_default);
  
  @media screen and (max-width: 768px) {
    width: 140px;
    padding: 5px 25px;
  }
}

.yearBlock .title {
  font-size: 20px;
  font-weight: 500;
}