.tabs{
  display: flex;
  margin-top: 16px;
}
.tabsContentTitle{
  font-size: 18px;
  font-weight: 700;
}
.propertyDetails{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-secondary)
}
.detailsIcons{
  display: flex;
  margin-top: 16px;
}
.detailsIconElem{
  margin-right: 8px;
  &:last-child{
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .detailsIcons,.tabs{
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 45px;
  }
}
