.yearBlock {
  display: grid;
  place-content: center;
  font-size: var(--font-size_medium);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 150px;
  height: 70px;
  border-radius: var(--border-radius_default);

  @media screen and (max-width: 768px) {
    width: 140px;
    height: 40px;
  }
}

.yearBlock .title {
  font-size: 20px;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}
