.errors{
  padding: 10px;
  margin: 10px;
  background-color: #fff8f8;
  border: 1px solid #d32f2f;
  color: #d32f2f;
  text-align: center;
  border-radius: 5px;
}

.defaultLayout{
  overflow-x: auto;
}

.contentWrapper{
  display: flex;
  justify-content: center;
}
.pageMenu{
  flex-shrink: 0;
  width: 240px;
  margin-top: 8px;
}

@media screen and (max-width: 480px) {
  .pageMenu,.header{
    display: none;
  }
}
