@import "../../app/styles/globalVariables.scss";

.containerAnimation {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
}

.heroPage {
  color: $font-color_base;
  font-family: 'Manrope', sans-serif;
}

.heroPageWrapper {
  max-width: $max-width;
  margin: auto;
}

.heroPageWrapper:last-child {
  border: none;
  background-color: red;
}

.heroPageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.companyTitle {
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: $font-size_big;
  font-weight: 300;
  width: 720px;
}

.hint {
  color: $font-color_blue;
}

.infoSection {
  display: flex;
  height: 60px;
}

.btnJoinWaitlist {
  width: 260px;
  border: none;
  border-radius: 7px;
  color: $font-color_base;
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.5) 8.17%, rgba(0, 255, 238, 0.5) 103.39%);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.joinCommunity {
  width: 206px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.description {
  color: inherit;
  font-weight: 400;
}

.webAssets {
  background: $background-color_dark;
  color: $font-color_white;
}

.webAssetsWrapper {
  max-width: $max-width;
  margin: auto;
}

.assets {
  height: 700px;
  position: relative;
  z-index: 1;
}

.assetsTitle {
  color: inherit;
  font-size: $font-size_medium;
  padding-top: 56px;
  text-align: center;
  margin: 0;
}

.assetsProperty {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  width: 850px;
  height: 530px;
}

.ourTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}

.ourTeamTitle {
  color: $font-color_white;
  font-size: $font-size_medium;
  font-weight: 300;
  text-align: center;
  padding-bottom: 56px;
}

.teamGallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.joinWaitlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 350px;
}

.joinWaitlistTitle {
  font-size: 42px;
  font-weight: 300;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.input {
  height: 60px;
  border-radius: 7px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 16px;
  font-size: 20px;
  color: $font-color_white;
  letter-spacing: 0.0125em;
  backdrop-filter: blur(100px);
}

.input::placeholder {
  color: inherit;
}

.input:focus {
  outline: none;
}

.btnSend {
  align-self: flex-end;
  width: 305px;
  height: 60px;
  font-size: 20px;
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.5) 8.17%, rgba(0, 255, 238, 0.5) 103.39%);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 7px;
  color: inherit;
  cursor: pointer;
  grid-column: 2;
}

.footerSection {
  height: 320px;
  position: relative;
  z-index: 1;
  background-color: white;
}

.footerHeading {
  font-size: $font-size_medium;
  font-weight: 300;
  color: inherit;
  background: linear-gradient(253.14deg, #8673FF 13.68%, #007DC5 44.28%, #257AD7 65.26%, #01F8EB 93.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerWrapper {
  max-width: $max-width;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  border-bottom: 1px solid $background-color_dark;
}

.footerNavSocial {
  display: flex;
  justify-content: space-between;
  width: 326px;
}

.footerBottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  width: 230px;
  font-size: $font-size_small-extra;
}

.footerLinks a {
  color: $font-color_gray-dark;
}

.footerLogo {
  max-width: 180px;
}

.binarix {
  color: $font-color_blue;
}