.containerAnimation {
  position: sticky;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
}

.heroPage {
  color: var(--font-color_base);
  font-family: 'Manrope', sans-serif;
}

.wrapper {
  max-width: var(--max-width-desktop);
  margin: auto;
}

.heroPageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.companyTitle {
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: var(--font-size_big);
  font-weight: 300;
  width: 720px;
}

.hint {
  color: var(--font-color_blue);
}

.infoSection {
  display: flex;
  height: 60px;
}

.btnJoinWaitlist {
  width: 260px;
  border: none;
  border-radius: 7px;
  color: var(--font-color_base);
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.5) 8.17%, rgba(0, 255, 238, 0.5) 103.39%);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.joinCommunity {
  width: 206px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.description {
  color: inherit;
  font-weight: 400;
}

.webAssets {
  background: var(--background-color_dark);
  color: var(--font-color_white);
}

.webAssetBlock {
  display: grid;
  grid-gap: 30px;
  font-family: 'Manrope', sans-serif;
}

.webAssetsLegend {
  font-size: var(--font-size_small);
  font-weight: 300;
}

.webAssetsLegend p {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  padding-left: 20px;
  margin: 0;
  height: 45px;
}

.webAssetsLegend p:first-child {
  background: linear-gradient(90deg, rgba(0, 174, 255, 0.3) 0%, rgba(30, 54, 71, 0) 100%);
  border-radius: 7px 0 0 0;
}

.webAssetsLegend p:nth-child(2) {
  background: linear-gradient(90deg, rgba(159, 67, 255, 0.3) 0%, rgba(120, 0, 255, 0) 100%);
}

.webAssetsLegend p:last-child {
  background: linear-gradient(90deg, rgba(0, 255, 238, 0.3) 0%, rgba(0, 174, 255, 0) 100%);
  border: none;
  border-radius: 0 0 0 7px;
}

.purchasingPropertyTokens,
.propertyTokenization,
.claimingRewards,
.binaryxMarketplace {
  display: grid;
  place-content: center;
  padding: 25px;
}

.propertyTokenization {
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
}

.propertyTokenization div {
  place-self: center;
  background: linear-gradient(180deg, #0097F1 0%, rgba(0, 151, 241, 0) 100%),
    linear-gradient(0deg, rgba(31, 80, 115, 0.5), rgba(31, 80, 115, 0.5));
}

.webAssetBlock *::before {
  position: absolute;
  top: 10px;
  left: 10px;
}

.propertyTokenization::before {
  content: "1";
}

.purchasingPropertyTokens::before {
  content: "2";
}

.claimingRewards::before {
  content: "3";
}

.purchasingPropertyTokens {
  place-content: space-between;
  grid-column: 3;
  grid-row: 1/3;
}

.purchasingPropertyTokens div {
  background: linear-gradient(0deg, rgba(61, 27, 99, 0.5), rgba(61, 27, 99, 0.5)),
    linear-gradient(180deg, #7C04FA 0%, rgba(124, 4, 250, 0) 100%);
}

.purchasingPropertyTokens div:first-child {
  translate: 70%;
}

.purchasingPropertyTokens div:nth-child(2) {
  grid-column: 1/2;
}

.purchasingPropertyTokens div:last-child {
  grid-column: 3/4;
}

.claimingRewards {
  display: block;
  grid-column: 1/4;
}

.claimingRewards div {
  width: 200px;
  background: rgba(31, 91, 88, 0.5);
}

.binaryxMarketplace {
  background-color: rgba(31, 91, 88, 0.5) !important;
  border-radius: 10px !important;
  font-weight: 500;
  grid-row: 2;
  grid-column: 2;
  place-self: center;
  width: 250px;
  text-transform: uppercase;
}

.assets {
  position: relative;
  z-index: 1;
}

.assetsTitle {
  color: inherit;
  font-size: var(--font-size_medium);
  padding-top: 56px;
  text-align: center;
}

.assetsProperty {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  width: 850px;
  height: 530px;
}

.ourTeamTitle {
  color: var(--font-color_white);
  font-size: var(--font-size_medium);
  font-weight: 400;
  text-align: center;
  padding-bottom: 56px;
}

.teamGallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.joinWaitlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 350px;
}

.joinWaitlistTitle {
  font-size: 42px;
  font-weight: 300;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.privacyPolicy {
  grid-row: 2;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: var(--font-color_gray-dark);
}

.privacyPolicy span {
  padding-left: 5px;
}

.input {
  height: 60px;
  border-radius: 7px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 16px;
  font-size: 20px;
  color: var(--font-color_white);
  letter-spacing: 0.0125em;
  backdrop-filter: blur(100px);
}

.input::placeholder {
  color: inherit;
}

.input:focus {
  outline: none;
}

.btnSend {
  grid-column: 2;
  width: 305px;
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  color: inherit;
  cursor: pointer;
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.5) 8.17%, rgba(0, 255, 238, 0.5) 103.39%);
  backdrop-filter: blur(10px);
}

.footerSection {
  position: relative;
  z-index: 1;
}

.footerHeading {
  font-size: var(--font-size_medium);
  font-weight: 300;
  color: inherit;
  background: linear-gradient(253.14deg, #8673FF 13.68%, #007DC5 44.28%, #257AD7 65.26%, #01F8EB 93.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
}

.footerNavSocial,
.footerBottomSection,
.footerLinks {
  display: flex;
  justify-content: space-between;
}

.footerNavSocial {
  width: 326px;
}

.footerBottomSection {
  align-items: center;
  padding: 60px 0;
}

.footerLinks {
  text-decoration: underline;
  width: 230px;
  font-size: var(--font-size_small-extra);
}

.footerLinks a {
  color: var(--font-color_gray-dark);
}

.binaryx {
  font-size: 14px;
}

@media screen and (max-width: 414px) {
  .heroPageInfo {
    justify-content: space-between;
  }

  .companyTitle {
    font-size: 25px;
  }

  .infoSection {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    position: relative;
    bottom: 80px;
  }

  .btnJoinWaitlist {
    height: 60px;
    width: 100%;
    font-size: 18px;
  }

  .joinCommunity {
    height: 60px;
    width: 100%;
    font-size: 16px;
  }

  .wrapper {
    max-width: var(--max-width-mobile);
  }

  .assetsTitle {
    font-size: 24px;
    font-weight: 300;
  }

  .purchasingPropertyTokens,
  .propertyTokenization,
  .claimingRewards,
  .binaryxMarketplace {
    padding: 15px;
  }

  .webAssetsLegend {
    display: none;
  }

  .webAssetBlock {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .binaryxMarketplace {
    width: 100%;
  }

  .binaryxMarketplace p {
    font-size: 14px;
  }

  .purchasingPropertyTokens {
    grid-gap: 10px;
  }

  .purchasingPropertyTokens div:first-child {
    translate: 60%;
  }

  .claimingRewards div {
    margin: auto;
  }

  .ourTeam {
    height: fit-content;
  }

  .teamGallery {
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    margin-bottom: 30px;
  }

  .ourTeamTitle {
    padding-bottom: 0;
  }

  .topSection {
    flex-direction: column;
  }

  .joinWaitlistTitle {
    font-size: 24px;
    font-weight: 300;
  }

  .formSection {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    width: 100%;
  }

  .privacyPolicy {
    margin-bottom: 30px;
  }

  .formSection input {
    font-size: 16px;
  }

  .btnSend {
    width: 100%;
    font-size: 18px;
  }

  .footer {
    flex-direction: column;
    padding: 40px 0;
  }

  .footerHeading {
    font-size: 24px;
  }

  .footerNavSocial {
    width: 80%;
    margin-top: 20px;
  }

  .footerNavSocial img {
    width: 32px;
  }

  .footerLinks {
    width: 200px;
    margin: 20px 0;
  }

  .footerBottomSection {
    flex-direction: column;
    padding: 20px;
  }

  .footerBottomSection a {
    font-size: 10px;
  }
}