.elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  margin-right: 24px;
  font-size: 14px;
  font-weight: 600;
  p {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
.inactive {
  color: var(--color-text-secondary);
}


.active {
  border-radius: 12px;
  background-color: #6F4DC4;
  color: var(--color--primary-bg);
}
.withUnderlineInactive{
  color: var(--color-text-secondary);
}
.underline{
  width: 32px;
  height: 4px;
  background-color: #6F4DC4;
  border-radius: 8px;
}
@media (max-width: 480px) {
  .elem {
    max-height: 40px;
    min-width: 34vw;
  }
}

@media (max-width: 360px) {
  .elem {
    min-width: 37vw;
  }
}


