.root{
  height: 64px;
  border-bottom: 1px solid #EFF2F5;
  background-color: #fff;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo{
  padding-bottom: 3px;
  padding-left: 10px;
  img{
    height: 32px;
    display: block;
  }
}

.nav{
  margin-left: 160px;
  a{
    color: var(--color-text-secondary);
    text-decoration: none;
    padding: 10px 22px;
    font-size: 14px;
  }
}

.buttons{
  margin: 0 -4px;
  display: flex;
  align-items: center;

  > *{
    margin: 0 4px;
  }
}

.accountAddress{
  margin-top: 5px;
  margin-left: 10px;
}
.wallet{
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
