.animation {
  animation: webAssetShow 1s ease forwards;
  animation-delay: calc(var(--order) * var(--default-delay));
  -webkit-animation-delay: calc(var(--order) * var(--default-delay));
  opacity: 0;
}

@keyframes webAssetShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}