.investBlock {
  width: 320px;
  border-radius: 15px;
  position: sticky;
  top: 110px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px) saturate(5);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.progress {
  background: rgba(37, 122, 215, 0.2) 65.26%;
  padding: 16px;
  border-radius: 15px 15px 0 0;
}

.progressBar {
  margin: 10px 0;
  padding: 3px 0;
  border-radius: 3px;
}

.progressValues {
  display: flex;
  justify-content: space-between;
}

.progressValue {
  font-size: 1em;
  color: #333;
}

.tokensLeft {
  font-size: 1em;
  color: #333;
}

.info {
  padding: 16px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoItemTitle {
  font-size: 1.125rem;
  color: #333;
  font-weight: 500;
}

.infoItemValue {
  font-size: 2.25rem;
  color: #333;
  font-weight: 600;
}

.invest {
  padding: 12px;
}

.investButton {
  background: transparent;
  border: 1px solid #333;
  padding: 24px;
  width: 100%;
  color: #333;
  font-size: 1.1rem;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all .3s ease;
}

.investButton:hover {
  transform: scale(1.02);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background:rgba(37, 122, 215, 0.1) 65.26%;
}