.root{
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  font-family: var(--font-family--primary);

  background-color: var(--color-primary);
  color: var(--color-primary-bg);

  font-size: 14px;
  font-weight: 600;
}
