.root{
  display: flex;
}
.asset {
  background: linear-gradient(253.14deg,
    rgba(37, 122, 215, 0.05) 65.26%,
    rgba(1, 248, 235, 0.05) 93.3%);
}
.navigation{
  font-size: 12px;
}
.navigationDisabled{
  color: var(--color-text-secondary);
  font-weight: 700;
}
.navigationActive{
  font-weight: 700;
}
.container{
  border-radius: 16px;
  border: 1px solid var(--color--border);
}
.assetInfo{
  height: 100%;
  width: 55vw;
  margin: 8px 8px 24px 34px;
  padding: 16px 24px;
}
.assetInvest{
  width: 25vw;
  margin-top: 8px;
}
.assetInvestBuy{
  margin-bottom: 16px;
  padding: 24px;
}
.assetInvestDetails{
  padding: 24px;
}
.loader{
  min-height: 200px;
  z-index: 10;
}


@media (max-width: 480px) {
 .root{
   flex-direction: column;
 }
  .assetInfo,{
    margin: 0;
    width: 100vw;
    border: none;
    padding-top: 0;
  }
  .assetInvest{
    width: 100vw;
  }
}
.tabs{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
