.assetInfo {
  display: flex;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.assetTitle {
  margin: 0;
  font-size: 16px;

  @media (max-width: 620px) {
    font-size: 14px;
  }
}

.addressLine1 {
  font-size: 13px;

  @media (max-width: 620px) {
    font-size: 12px;
  }
}

.addressLine2 {
  font-size: 13px;

  @media (max-width: 620px) {
    font-size: 12px;
  }
}

.imageWrap {
  padding: 0;
  margin-right: 16px;
}

.image {
  border-radius: 4px;

  @media (max-width: 980px) {
    width: 120px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  width: 100%;

  @media (max-width: 980px) {
    margin-bottom: 16px;
    padding-right: 0;
  }
}
