.root {
  background-color: #F5F5F5;
  min-height: calc(100vh - 64px);
}

.crudTopNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    font-family: var(--font-family--primary);
    color: #000;
  }
}

.container{
  margin: 0 auto;
  max-width: 1340px;
  padding: 0 10px;
}

.contentWrapper{
  display: flex;
  padding: 8px 0 0 0;
}

.pageMenu{
  flex-shrink: 0;
  width: 240px;
}

.pageContent{
  flex-shrink: 1;
  padding: 0 0 0 35px;
}

@media(max-width: 1450px) {
  .container{
    max-width: 1010px;
  }
}

@media(max-width: 1024px) {
  .container{
    max-width: 670px;
  }
}

@media(max-width: 768px) {
  .container{
    max-width: 350px;
  }
}
