.page{
  padding: 40px 0;
}

.formNav{
  padding: 0 0 20px 0;
}

.container{
  margin: 0 auto;
  max-width: 600px;
  padding: 0 10px;
}

.formActions{
  padding: 10px 0;
  flex-direction: row-reverse;
  display: flex;
}
