.page{
  padding: 40px 0;
}

.container{
  margin: 0 auto;
  max-width: 800px;
  padding: 24px;
  background-color: var(--background-color_white);
  border: 1px solid var(--color--secondary-bg);
  border-radius: var(--border-radius_extra-large);
}

.formActions{
  padding: 10px 0;
  flex-direction: row-reverse;
  display: flex;
}
.generalInfo{
  font-size: var(--font-size_medium);
  font-weight: 700;
  margin: 0;
}
.generalDescription{
  font-size: var(--font-size_small);
  color: var(--color-text-secondary);
  margin: 4px 0 16px;
}
