.root {
  display: flex;
}

.arrowIcon {
  path {
    stroke: #6F4DC4;
  }
}

.property {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 18px 24px;
}

.totalPropertyInfo {
  display: flex;
}

.navigationHome {
  color: var(--color-text-secondary);
  font-weight: 700;
}

.navigationAsset {
  font-weight: 700;
}

.totalPropertyInfoWrapper {
  margin-left: 34px;
  margin-top: 24px;
}

.totalRentInfo {
  background-color: var(--color--primary-bg);
  border: 1px solid var(--color--secondary-bg);
  width: 30vw;
  max-width: 510px;
  height: 400px;
  border-radius: 16px 16px 0 0;
  margin-right: 18px;
  padding: 24px;
  text-align: center;
}

.totalRentInfo_text {
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
}

.pageMenu {
  flex-shrink: 0;
  width: 240px;
}

.navigation {
  font-size: 12px;
}

.assetOverview_Text {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
}

.claimAllButton {
  width: 100%;
  background-color: #6F4DC4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowWrapper {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--primary-bg);
  transform: rotate(90deg);
  border-radius: 50%;
  margin-right: 8px;
}

.totalRentBalance_text {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.rentBalanceClaim {
  text-align: center;
}

.accountDetailWrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed var(--color--border);
  padding-top: 16px;
  margin-bottom: 24px;
}

.accountDetail {
  display: flex;
}

@media (max-width: 480px) {
  .navigation{
    display: none;
  }
  .totalPropertyInfo {
    flex-direction: column;
  }
  .totalPropertyInfoWrapper {
    margin-left: 0;
    width: 90vw;
 }
  .totalRentInfo {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
  .rentBalanceClaim{
    width: 90%;
  }
}

