.assetList {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0 0 15px 0;
}

@media(max-width: 1450px) {
  .assetList {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media(max-width: 1024px) {
  .assetList{
    grid-template-columns: 50% 50%;
  }
}

@media(max-width: 768px) {
  .assetList{
    grid-template-columns: 100%;
  }
}

