.investPage {
  padding: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.main {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 16px;
  display: flex;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.investmentSummaryTitle {
  margin-top: 12px;

  @media (max-width: 620px) {
    font-size: 16px;
    margin-top: 0;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  width: 100%;

  @media (max-width: 980px) {
    margin-bottom: 16px;
    padding-right: 0;
  }
}

.infoMain {
  //display: flex;
}

.controls {
  text-align: right;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tokenQuantityTitle {
  text-align: center;
}

.tokenQuantityInputWrap {
  position: relative;
  font-size: 14px;
  margin-bottom: 8px;

  @media (max-width: 680px) {
    font-size: 13px;
  }
}

.tokenQuantityInput {
  width: 116px;
  padding: 8px;
  border-radius: 4px;
  font-size: 1em;
  text-align: center;
  border: 1px solid #d0d0d0;
  outline: none;

  @media (max-width: 680px) {
    font-size: 12px;
    width: 96px;
  }
}

.tokenQuantityButton {
  border: 0;
  background: none;
  font-size: 18px;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  cursor: pointer;
  padding: 8px;
  line-height: 1;
  transition: opacity 0.1s linear;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.tokenQuantityButtonRemove {
  left: 0;
  font-size: 1.3em;
  padding-top: 5px;
  padding-left: 12px;
}

.tokenQuantityButtonAdd {
  right: 0;
  padding-right: 12px;
}

.orderSummary {
  background-color: rgba(176, 208, 235, 0.3);
  border-radius: 8px;
  color: #333;
  min-width: 320px;


  @media (max-width: 620px) {
    min-width: auto;
    width: 100%;
  }
}

.orderSummaryTitle {
  padding: 16px;
  margin: 0;
  border-bottom: 1px solid #d0d0d0;

  @media (max-width: 620px) {
    font-size: 16px;
  }
}

.orderTotal {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  border-bottom: 1px solid #d0d0d0;
}

.orderTotalTitle {

}

.orderTotalValue {

}

.yourBalance{
  font-size: 12px;
  padding: 5px 15px;
}

.submitWrap {
  padding: 16px;
}

.submitWrap .submitButton {
  width: 100%;
  padding: 12px;
  color: #fff
}



.billingStep {
  width: 100%;
  display: flex;
  align-items: center;
}

.billingType {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 196px;
  height: 196px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 12px;
  text-align: center;
  box-shadow: inset 0 0 100px 3px rgba(176, 208, 235, 0.3);
  transition: box-shadow 0.1s;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 100px 3px rgb(25 118 210 / 40%);
  }
}

.billingType--selected {
  box-shadow: inset 0 0 100px 3px rgb(25 118 210 / 60%);

  &:hover {
    box-shadow: inset 0 0 100px 3px rgb(25 118 210 / 60%);
  }
}

.billingType--disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    box-shadow: inset 0 0 100px 3px rgb(25 118 210 / 20%);
  }
}

.billingTypeTitle {
  margin: 0;
  font-size: 16px;
}

.billingTypeDesc {
  font-size: 12px;
  margin: 0;
}

.resultStep {
  width: 100%;
}

.assetMicroInfo{
  display: flex;
  width: 500px;
}

.assetMicroInfo__image{
  width: 200px;
  display: block;
}

.assetMicroInfo__description{
  padding: 0 0 0 15px;
}

.tyStep{
  display: flex;
}

.tyStep__info{
  padding: 15px;
  min-width: 550px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tyStep__message{
  padding: 0 0 20px 0;
}

@media (max-width: 1100px) {
  .tyStep{
    display: block;
  }
  .tyStep__info{
    min-width: initial;
  }
  .assetMicroInfo{
    padding-top: 20px;
    display: flex;
    width: initial;
  }
}
