.yearBlock {
  height: fit-content;
  font-size: var(--font-size_small);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 5px 25px;
  border-radius: var(--border-radius_default);
}

.yearBlock h2 {
  font-size: 20px;
  font-weight: 500;
}

.descriptionBlock {
  background: rgba(2, 12, 22, 0.2);
  border: 1px solid rgba(70, 70, 70, 1);
  border-radius: var(--border-radius_default);
  backdrop-filter: blur(10px);
  font-size: 12px;
  padding: 0 10px;
}

.descriptionBlock ul {
  padding: 0;
  margin: 5px 0;
}

.descriptionBlock ul li {
  list-style: none;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .yearBlock h2 {
    margin: 0;
  }
}