.galleryRoot {
  display: flex;
  margin-top: 16px;
}

.currentSlideWrapper {
  width: 80%;
}

.currentSlide {
  width: 100%;
  border-radius: 12px;
  height: 99%;

  &:hover {
    cursor: pointer;
  }
}

.slider:focus {
  outline: none;
}

.listOfSlides {
  width: 20%;
  margin-left: 12px;
}

.carouselProvider {
  display: flex;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fafafa;
}

.buttonNext {
  height: 100vh;
  border: none;
  background: #fafafa;
  width: 70px;
}

.buttonBack {
  height: 100vh;
  border: none;
  background: #fafafa;
  width: 65px;
  padding: 0 0 80px;
}

.arrowForward, .arrowBack {
  font-size: 30px;
}

.closeIcon {
  cursor: pointer;
  margin: auto;
  height: 80px;
  font-size: 30px;
}

.image {
  border-radius: 12px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
