.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0 0 15px 0;
  margin: -7px;
}

.gridItem{
  padding: 7px;
}

@media (max-width: 1450px) {
  .grid {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

//@media (max-width: 1024px) {
//  .grid{
//    grid-template-columns: 50% 50%;
//  }
//}
//
//@media (max-width: 768px) {
//  .grid{
//    grid-template-columns: 100%;
//  }
//}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 100%;
  }
}
