.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  width: 100%;
  position: fixed;
  z-index: 19;
  padding: 0;

  //background-color: rgba(255, 255, 255, 0.95);
  background-color: transparent;
  backdrop-filter: blur(10px) saturate(2);
  font-family: "Manrope", sans-serif;
  // transition: background-color 1s;

  @media screen and (max-width: 1024px) {
    height: 70px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.headerDark {
  backdrop-filter: blur(10px);

  svg path {
    fill: #FFFFFF;
  }
}

.headerTransparent {
  backdrop-filter: none;
}

.header.opened {
  height: 100%;
  background-color: white;

  .container {
    flex-direction: column;
    place-self: flex-start;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .navSocial {
    display: flex;
    max-width: var(--max-width_mobile);
    width: 100%;
    margin-top: 50px;

    svg {
      height: 46px;
      width: 46px;
    }
  }
}

.separator {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navContainer {
    display: flex;
    max-width: var(--max-width_mobile);
    width: 100%;
    justify-content: space-between;
  }

  .logoWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
  }

  .btnBurgerMenuClickable {
    display: grid;
    place-content: center flex-end;
    height: 70px;
    width: 70px;
    right: 0;
    cursor: pointer;
    position: relative;
  }

  .separator {
    display: block;
    background-color: var(--border-color_gray);
    max-width: var(--max-width_mobile);
    width: 100%;
    height: 1px;
    border: none;
    margin: 20px 0;
  }

  .btnBurgerMenu {
    background-color: #1e1e1e;
    height: 2px;
    width: 25px;

    &:after {
      content: "";
      background-color: #1e1e1e;
      height: inherit;
      width: inherit;
      top: 26px;
      position: absolute;
    }

    &:before {
      content: "";
      background-color: #1e1e1e;
      height: inherit;
      width: inherit;
      bottom: 26px;
      position: absolute;
    }

    &.opened {
      background-color: transparent;
      transition: background .3s;

      &:after {
        animation: showAfter .3s ease forwards;
      }

      &:before {
        animation: showBefore .3s ease forwards;
      }
    }

    &.closing {
      background-color: #1e1e1e;
      transition: .5s;

      &:after {
        animation: closeAfter .3s ease forwards;
      }

      &:before {
        animation: closeBefore .3s ease forwards;
      }
    }
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(var(--max-width_desktop));
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.logo {
  max-width: 180px;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    max-width: 150px;
  }
}

// .logoActive {
//   opacity: 1;
// }

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 400px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.navLinks a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.3s ease;

  @media screen and (max-width: 1024px) {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
}

.navLinks a:hover {
  color: rgba(1, 155, 186, 1);
}

.navSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;

  @media (max-width: 1024px) {
    display: none;

    svg {
      transform: scale(0.75);
      transition: .3s ease;

      &:hover {
        path {
          fill: #00B4CC;
        }
      }
    }
  }
}

@keyframes showAfter {
  0% {
    top: 26px;
    rotate: 0deg;
  }

  50% {
    top: 34px;
    rotate: 0deg;
  }

  100% {
    top: 34px;
    rotate: -45deg;
  }
}

@keyframes showBefore {
  0% {
    bottom: 26px;
    rotate: 0deg;
  }

  50% {
    bottom: 34px;
    rotate: 0deg;
  }

  100% {
    bottom: 34px;
    rotate: 45deg;
  }
}

@keyframes closeAfter {
  0% {
    top: 34px;
    rotate: -45deg;
  }

  50% {
    top: 34px;
    rotate: 0deg;
  }

  100% {
    top: 26px;
  }
}

@keyframes closeBefore {
  0% {
    bottom: 34px;
    rotate: 45deg;
  }

  50% {
    bottom: 34px;
    rotate: 0deg;
  }

  100% {
    bottom: 26px;
  }
}