.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  width: 100%;
  position: fixed;
  z-index: 19;
  padding: 0;

  //background-color: rgba(255, 255, 255, 0.95);
  background-color: transparent;
  backdrop-filter: blur(10px) saturate(2);
  font-family: "Manrope", sans-serif;
  // transition: background-color 1s;

  @media screen and (max-width: 1024px) {
    height: 70px;
  }
}

.headerDark {
  //background-color: rgba(0, 0, 0, .75);
  backdrop-filter: blur(10px);

  //.navSocial img {
  //  filter: invert(100%)
  //}
  svg path {
    fill: #FFFFFF;
  }
}

.headerTransparent {
  backdrop-filter: none;
}

.logoWrap {
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
  }
}

.header.opened {
  height: 100vh;
  background-color: white;

  .container {
    flex-direction: column;
    place-self: flex-start;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .navSocial {
    display: flex;
    width: 80%;
    margin-top: 50px;

    svg {
      height: 46px;
      width: 46px;
    }
  }
}

.separator {
  display: none;
}

@media screen and (max-width: 1024px) {
  .btnBurgerMenuClickable {
    display: grid;
    place-content: center;
    height: 30px;
    width: 40px;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  .separator {
    display: block;
    background-color: var(--border-color_gray);
    width: 90%;
    height: 1px;
    border: none;
    margin: 20px 0;
  }

  .btnBurgerMenu {
    background-color: #1e1e1e;
    height: 2px;
    width: 25px;

    &:after {
      content: "";
      background-color: #1e1e1e;
      height: inherit;
      width: inherit;
      top: 20px;
      position: absolute;
    }

    &:before {
      content: "";
      background-color: #1e1e1e;
      height: inherit;
      width: inherit;
      top: 8px;
      position: absolute;
    }

    &.opened {
      background-color: transparent;

      &:after {
        animation: showAfter .5s ease both;
      }

      &:before {
        animation: showBefore .5s ease both;
      }
    }

    &.closing {
      background-color: #1e1e1e;
      transition: .5s;

      &:after {
        animation: closeAfter .5s ease both;
      }

      &:before {
        animation: closeBefore .5s ease both;
      }
    }
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(var(--max-width_desktop));
  padding: 0 20px;
}

.logo {
  max-width: 180px;
  opacity: 0;
  transition: opacity 0.1s;
  cursor: pointer;

  &:nth-child(2) {
    margin-left: -180px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 150px;

    &:nth-child(2) {
      margin-left: -150px;
    }
  }
}

.logoActive {
  opacity: 1;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 400px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.navLinks a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.3s ease;

  @media screen and (max-width: 1024px) {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
}

.navLinks a:hover {
  color: rgba(1, 155, 186, 1);
}

.navSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;

  @media (max-width: 1024px) {
    display: none;

    svg {
      transform: scale(0.75);
      transition: .3s ease;

      &:hover {
        path {
          fill: #00B4CC;
        }
      }
    }
  }
}

@keyframes showAfter {
  0% {
    top: 20px;
    rotate: 0deg;
  }

  50% {
    top: 14px;
    rotate: 0deg;
  }

  100% {
    top: 14px;
    rotate: -45deg;
  }
}

@keyframes showBefore {
  0% {
    top: 8px;
    rotate: 0deg;
  }

  50% {
    top: 14px;
    rotate: 0deg;
  }

  100% {
    top: 14px;
    rotate: 45deg;
  }
}

@keyframes closeAfter {
  0% {
    top: 14px;
    rotate: -45deg;
  }

  50% {
    top: 14px;
    rotate: 0deg;
  }

  100% {
    top: 20px;
  }
}

@keyframes closeBefore {
  0% {
    top: 14px;
    rotate: 45deg;
  }

  50% {
    top: 14px;
    rotate: 0deg;
  }

  100% {
    top: 8px;
  }
}