@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

.startPage {
  height: 100vh;
  color:rgba(34, 34, 34, 1);
  font-family: 'Manrope', sans-serif;
}

.startPageWrapper {
  max-width: 1200px;
  margin: auto;
}

.startPageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100vh;
  border-bottom: 1px solid #1e1e1e;
}

.title {
  color: inherit;
  font-size: 64px;
  font-weight: 400;
  width: 720px;
}

.hint {
  color: rgba(1, 155, 186, 1);
}

.infoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnJoinWaitlist {
  padding: 20px 50px;
  border: none;
  color: inherit;
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.8) 8.17%, rgba(0, 255, 238, 0.8) 103.39%);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.description {
  color: inherit;
  line-height: 21px;
  font-weight: 400;
}