.orders {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  align-items: center;
  padding: 15px 25px 15px 15px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.boughtHouseImage {
  width: 160px;
  height: 90px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.boughtHouse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 450px;
}

.tokens {
  grid-row: 2;
}

.info {
  display: flex;
  width: 250px;
  gap: 20px;
  grid-row: 2;
}

.totalRentBalance {
  display: flex;
  gap: 20px;
  place-content: end;
}
