.orders {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  align-items: center;
  padding: 15px 25px 15px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(2);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boughtHouseImage {
  width: 160px;
  height: 90px;
  background-color: #fff;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.boughtHouse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 450px;
}

.tokens {
  grid-row: 2;
}

.info {
  display: flex;
  width: 250px;
  gap: 20px;
  grid-row: 2;
}

.totalRentBalance {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}
