.teamBlock {
  width: 250px;
}

.person {
  display: block;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 255, 238, 0) 57.81%, rgba(0, 174, 255, 0.1805) 100%);
}

.personDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  border-radius: 0 0 7.5px 7.5px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
}

.personName {
  font-size: 20px;
  color: var(--font-color_white);
  font-weight: 500;
}

.personPosition {
  color: #aaaaaa;
}

.socialLinkBlock {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.socialLinkImage {
  width: 15px;
  margin-right: 3px;
  filter: invert(100%);
  cursor: pointer;
}

.socialLink {
  color: #019bba;
}

@media screen and (max-width: 414px) {
  .teamBlock {
    width: 260px;
    margin: 0 10px;
  }

  .person {
    width: inherit;
  }
}