.webAssetCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 170px;
  height: 110px;
  border-radius: var(--border-radius_default);
  position: relative;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.description {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .webAssetCard {
    width: 100px;
    height: 70px;
    font-size: 12px;
  }

  .description {
    margin-top: 6px;
    font-size: 11px;
  }
}

@media screen and (max-height: 667px) {
  .webAssetCard {
    height: 60px;
  }

  .image {
    height: 25px;
  }
}