.progressBar {
  height: 12px;
  background-color: var(--color--secondary-bg);
  border: 2px solid var(--color--secondary-bg);
  border-radius: 12px;
}

.filler {
  height: 100%;
  background-color: var(--color-main);
  transition: width 0.33s;
  border-radius: 12px;
}
