.container {
  max-width: 1102px;
  margin: 0 auto;
  padding: 0 5px;

  @media screen and (max-width: 1024px) {
    max-width: var(--max-width_mobile);
  }
}

.textContainer {
  max-width: var(--max-width_desktop);
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: none;
    padding: 0 15px;
  }
}


.mobileSchemaImage {
  max-width: 100%;
  max-height: 100vh;
}

.webAssets {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  place-content: center;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  color: var(--font-color_white);
  max-width: 100%;
  overflow-x: hidden;
  //background-color: var(--background-color_dark);

  @media screen and (max-height: 768px) {
    place-content: flex-end center;
  }
}

.webAssetsContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1024px) {
    grid-gap: 5px;
    grid-template-columns: 250px;

    margin-left: -50px;
    // margin-bottom: 7px;
  }
}

.vectorsDesktop {
  position: absolute;
  pointer-events: none;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.vector1Desktop {
  top: 39%;
  left: 24.5%;
}

.vector2Desktop {
  top: 73%;
  right: 27%;
}

.vector3Desktop {
  top: 23.4%;
  right: 11%;
}

.vector4Desktop {
  top: -35%;
  left: 4.7%;
}

.vector5Desktop {
  top: -34%;
  right: 4.5%;
}

.vector6Desktop {
  top: -35%;
  right: 7%;
}

.vectorsMobile {
  display: none;

  @media screen and (max-width: 1024px) {
    display: block;
    position: absolute;
    pointer-events: none;
  }
}

.vector1Mobile {
  top: 22%;
  scale: 1 0.9;
  left: 28%;

  @media screen and (max-height: 667px) {
    top: 10%;
    scale: 1 0.8;
  }
}

.vector2Mobile {
  bottom: -15%;
  left: 2%;
  scale: 1.1 0.78;

  @media screen and (max-height: 667px) {
    bottom: -57%;
    left: 2%;
    scale: 1.1 0.73;
  }
}

.vector3Mobile {
  bottom: 6%;
  right: -14%;
  scale: 1.3 .8;

  @media screen and (max-height: 667px) {
    bottom: -2%;
    right: -15%;
    scale: 1.2 0.8;
  }
}

.vector4Mobile {
  right: -8%;
  bottom: 23%;
  scale: 1.2 .8;

  @media screen and (max-height: 667px) {
    bottom: 15%;
  }
}

.vector5Mobile {
  bottom: 36%;
  left: 50%;
  scale: .9 .77;

  @media screen and (max-height: 667px) {
    bottom: 33%;
  }
}

.vector6Mobile {
  bottom: 8%;
  left: 15%;
  scale: 1 0.85;
}

.webAssetBlock {
  display: grid;
  font-family: 'Manrope', sans-serif;
}

.webAssetsLegend {
  grid-row: 1;
  font-size: var(--font-size_small);
  font-weight: 300;
  cursor: pointer;
  padding: 7px 0;

  .legendMenuFirst,
  .legendMenuSecond,
  .legendMenuThird {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 80%;
    padding-left: 20px;
    margin: 0;
    height: 40px;
  }

  .legendMenuFirst {
    border-radius: 7px 0 0 0;

    &:hover {
      background: linear-gradient(90deg, rgba(0, 174, 255, 0.3) 0%, rgba(30, 54, 71, 0) 100%);
    }
  }

  .legendMenuSecond {
    &:hover {
      background: linear-gradient(90deg, rgba(159, 67, 255, 0.3) 0%, rgba(120, 0, 255, 0) 100%);
    }
  }

  .legendMenuThird {
    border: none !important;
    border-radius: 0 0 0 7px;

    &:hover {
      background: linear-gradient(90deg, rgba(0, 255, 238, 0.3) 0%, rgba(0, 174, 255, 0) 100%);
    }
  }
}

.legendMenuFirstSelected {
  background: linear-gradient(90deg, rgba(0, 174, 255, 0.3) 0%, rgba(30, 54, 71, 0) 100%);
}

.legendMenuSecondSelected {
  background: linear-gradient(90deg, rgba(159, 67, 255, 0.3) 0%, rgba(120, 0, 255, 0) 100%);
}

.legendMenuThirdSelected {
  background: linear-gradient(90deg, rgba(0, 255, 238, 0.3) 0%, rgba(0, 174, 255, 0) 100%);
}

.purchasingPropertyTokens,
.propertyTokenization,
.claimingRewards,
.binaryxMarketplace {
  display: grid;
  place-content: center;
  padding: 25px 30px;
}

.propertyTokenization {
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  transition: background .5s ease;

  .property,
  .propertyTokens {
    border: 1px solid rgba(0, 151, 241, 1);
    //border: linear-gradient(180deg, #0097F1 0%, rgba(0, 151, 241, 0) 100%),
    //  linear-gradient(0deg, rgba(31, 80, 115, 0.5), rgba(31, 80, 115, 0.5));
    background: rgba(31, 80, 115, 0.5);
    backdrop-filter: blur(2.5px);
  }


  @media (min-width: 1025px) {
    .property {
      margin-right: 24px;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-row: 1;
    grid-gap: 0;
    place-items: center;

    .property img {
      width: 22px;
    }
  }
}


.propertyTokenization.propertyTokenizationSelected {
  background: rgba(31, 80, 115, 0.5);
  transition: background .5s ease;
}

.webAssets *::before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}

.propertyTokenization::before {
  content: "1";
}

.purchasingPropertyTokens::before {
  content: "2";
}

.claimingRewards::before {
  content: "3";
}

.purchasingPropertyTokens {
  display: grid;
  place-content: space-between;
  gap: 20px;
  grid-row: 1/3;
  transition: background .5s ease;

  .propertyToken,
  .stablecoins,
  .users {
    //background: linear-gradient(0deg, rgba(61, 27, 99, 0.5), rgba(61, 27, 99, 0.5)),
    //linear-gradient(180deg, #7C04FA 0%, rgba(124, 4, 250, 0) 100%);
    //border: 1px solid rgba(124, 4, 250, 0.5);
    border: 1px solid rgba(124, 4, 250, 1);
    background: rgba(61, 27, 99, 0.5);
    backdrop-filter: blur(2.5px);
  }

  @media (min-width: 1025px) {
    .stablecoins {
      margin-right: 33px;
    }
  }
}

.purchasingPropertyTokens.purchasingPropertyTokensSelected {
  background: rgba(61, 27, 99, 0.5);
  transition: background .5s ease;
}

.purchasingPropertyTokens div:first-child {
  grid-column: 1 / span 2;
  place-self: center;
}

.claimingRewards {
  display: block;
  grid-column: 1 / span 3;
  transition: background .5s ease;

  .propertyRent {
    //border: 1px solid rgba(31, 91, 88, 0.5);
    //background: linear-gradient(180deg, #00DD8D 0%, rgba(0, 181, 221, 0) 100%),
    //  linear-gradient(0deg, rgba(31, 91, 88, 0.5), rgba(31, 91, 88, 0.5));

    border: 1px solid rgba(0, 221, 141, 1);
    background: rgba(31, 91, 88, 0.5);
    backdrop-filter: blur(2.5px);

    left: 85px;

    @media screen and (max-width: 786px) {
      width: 100px;
      left: 20px;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-column: unset;
  }
}

.claimingRewards.claimingRewardsSelected {
  background: rgba(31, 91, 88, 0.5);
  transition: background .5s ease;
}

.rent,
.claim,
.sentMoney {
  position: absolute;
  font-size: 10px;

  @media screen and (max-width: 1024px) {
    rotate: -90deg;
  }
}

.rent {
  top: 22%;
  left: 29.5%;

  @media screen and (max-width: 1024px) {
    top: unset;
    left: unset;
    bottom: 250%;
    right: -54%
  }
}

.claim {
  top: 17%;
  right: 25.5%;

  @media screen and (max-width: 1024px) {
    top: unset;
    bottom: 250%;
    right: -12%;
  }
}

.sentMoney {
  top: 54%;
  right: 23.8%;

  @media screen and (max-width: 1024px) {
    top: unset;
    bottom: 250%;
    right: -27%;
  }
}

.binaryxMarketplace {
  background-color: rgba(31, 91, 88, 0.5) !important;
  //border: 1px solid rgba(31, 91, 88, 0.5);
  border: 1px solid rgba(0, 181, 221, 1) !important;
  border-radius: 10px !important;
  font-weight: 500;
  grid-row: 2;
  grid-column: 2;
  place-self: center;
  width: 232px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;


  .binaryxMain {
    backdrop-filter: none;
    font-size: 16px;

    p {
      line-height: 103%;
    }

    img {
      width: 33px;
    }
  }
}

.binaryxMain img {
  @media screen and (max-height: 667px) {
    height: 60px;
  }
}

.assetsTitle {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  width: 100%;

  @media (max-width: 480px) {
    text-align: left;
  }

  br {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .assetsTitle {
    font-size: 24px;
    font-weight: 300;
    margin: 40px 0 40px 0;

    br {
      display: block;
    }
  }

  .purchasingPropertyTokens,
  .propertyTokenization,
  .claimingRewards,
  .binaryxMarketplace {
    padding: 15px;

    @media screen and (max-height: 667px) {
      padding: 10px;
    }
  }

  .webAssetsLegend {
    display: none;
  }

  .binaryxMarketplace {
    grid-column: 1;
    height: 135px;
    width: 160px;
    margin: 20px 0;
    left: 6%;

    @media screen and (max-height: 667px) {
      margin: 20px;
      padding: 25px 0;
    }
  }

  .binaryxMarketplace p {
    font-size: 13px;
  }

  .purchasingPropertyTokens {
    grid-gap: 10px;
    grid-row: 3;
  }
}

.isShow {
  animation: webAssetShow 1s ease forwards;
  animation-delay: calc(var(--order) * var(--animation-delay));
  -webkit-animation-delay: calc(var(--order) * var(--animation-delay));
  opacity: 0;
}

@keyframes webAssetShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
