.scrollTrackerBG, .scrollTracker {
  position: fixed;
  inset: auto 0 8px 0;
  height: .8rem;
  background-color: rgb(51 51 51 / .25);
  z-index: 20;
  transition: width .1s linear, opacity .2s ease;
  @media screen and (max-width: 768px) {
    inset: auto 0 0 0;
  }
}

.scrollTracker {
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.7) 8.17%, rgba(0, 255, 238, 0.7) 103.39%);
  backdrop-filter: blur(10px);
}