.scrollTrackerBG, .scrollTracker {
  position: fixed;
  inset: 83px 0 0 0;
  height: .8rem;
  background-color: rgb(50 50 50 / .2);
  z-index: 20;

  @media screen and (max-width: 768px) {
    inset: 63px 0 0 0;
  }
}

.scrollTracker {
  background: linear-gradient(85.42deg, rgba(0, 174, 255, 0.7) 8.17%, rgba(0, 255, 238, 0.7) 103.39%);
  backdrop-filter: blur(10px);
}