.root{
  display: flex;
  flex-direction: column;
}

.propertyAddress{
  font-size: 24px;
  margin: 12px 0;
}
.realAddress{
  display: flex;
  p{
    font-weight: 600;
  }
}
.statusSection{
  display: flex;
  align-items: center;
}
.dot{
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  margin: 0 8px;
}
.blockchainAddress{
  display: flex;
  p{
    margin: 0;
    font-size: 14px;
  }
}
.propertyAddress_text{
  color: #A6B0C3;
}
.blockchainAddress_address{
  display: flex;
  align-items: center;
  p{
    text-decoration: underline;
  }
}
.ellipseIcon{
  margin: 0 4px 0 8px;
}

@media screen and (max-width: 480px) {
  .carousel{
    order: 1;
  }
  .propertyAddressWrapper{
    order: 2;
  }
  .assetInvest{
    order: 3;
    border-radius: 16px;
    border: 1px solid var(--color--border);
    padding: 16px;
    margin: 16px 0;
  }
  .tabs{
    order: 4;
  }
  .realAddress{
    flex-direction: column;
  }
  .statusSection{
    order: 1;
  }
  .propertyAddress{
    font-size: 18px;
    order: 2;
  }
}

