:root {
  --color-primary: #101113;
  --color--primary-bg: #FFFFFF;
  --color--secondary-bg: #EFF2F5;
  --color--border: #EFF2F5;
  --color-text-primary: #000000;
  --color-text-secondary: #58667E;

  --font-family--primary: 'Manrope', sans-serif;

  /* TODO: Refactor CSS vars below */
  --font-size_extra-big: 64px;
  --font-size_big: 36px;
  --font-size_medium: 18px;
  --font-size_small: 14px;
  --font-size_extra-small: 14px;

  --font-color_base: rgba(34, 34, 34, 1);
  --font-color_blue: rgba(1, 155, 186, 1);
  --font-color_blue-light: rgba(0, 180, 204, 1);
  --font-color_white: rgb(248, 249, 250, 1);
  --font-color_gray: rgba(170, 170, 170, 1);
  --font-color_gray-dark: rgba(144, 144, 144, 1);
  --font-color_placeholder: rgba(166, 176, 195, 1);

  --background-color_dark: rgba(27, 27, 27, 1);
  --background-color_white: rgb(255, 255, 255, 1);

  --border-color_dark: #1e1e1e;
  --border-color_white: #f8f9fa;
  --border-radius_default: 7px;
  --border-radius_large: 12px;
  --border-radius_extra-large: 24px;

  --max-width_desktop: 1200px;
  --max-width_mobile: 320px;

  --animation-delay: 60ms;
}

