.gallery {
  display: flex;
}

.imageWrap {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 270px;
  cursor: pointer;
}

.carouselProvider {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fafafa;
}

.imageFullWidthContol {
  display: flex;
  flex-direction: column;
}

.buttonNext {
  height: 100vh;
  border: none;
  background: #fafafa;
  width: 70px;
}

.buttonBack {
  height: 100vh;
  border: none;
  background: #fafafa;
  width: 65px;
  padding: 0;
  padding-bottom: 80px;
}

.arrowForward, .arrowBack {
  font-size: 30px;
}

.closeIcon {
  cursor: pointer;
  margin: auto;
  height: 80px;
  font-size: 30px;
}
