//.fieldsGrid{
//  display: grid;
//  grid-template-columns: 50% 50%;
//
//  > div {
//    padding: 7px;
//  }
//}

.root{
  margin: 0 -7px;
}

.images{
  padding: 0 4px;

  img{
    display: inline-block;
    margin: 0 3px;
    border-radius: 6px;
    width: 100px;
  }
}
