.mainView {
  width: 75%;
  position: relative;
  left: 300px;
}

.statisticSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
}

.orderSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
