.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #1e1e1e;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.title {
  font-size: var(--font-size_medium);
  font-weight: 300;
  color: inherit;
}

.weAreHere {
  color: var(--font-color_blue);
  font-size: var(--font-size_small);
  text-transform: uppercase;
}

.btnWaitlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  color: inherit;
  border: 1px solid var(--border-color_dark);
  border-radius: 7px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  padding: 20px 0;
  cursor: pointer;
  position: relative;
  top: 100px;
}

@media screen and (max-width: 414px) {
  .block {
    height: calc(100vh - 65px);
  }

  .weAreHere {
    font-size: 16px;
  }

  .title {
    font-size: 24px;
    margin: 0;
  }

  .btnWaitlist {
    position: static;
    align-self: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 35px;
  }

  .description {
    font-size: 14px;
    width: 100%;
    margin-bottom: auto;
  }
}
