.block {
  display: flex;
  align-items: center;
  height: 100vh;
  color: #1e1e1e;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 328px;
}

.title {
  font-size: var(--font-size_medium);
  font-weight: 300;
  color: inherit;
}

.weAreHere {
  color: var(--font-color_blue);
  font-size: var(--font-size_small);
  text-transform: uppercase;
}

.btnWaitlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  color: inherit;
  border: 1px solid var(--border-color_dark);
  border-radius: 7px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  padding: 20px 0;
  cursor: pointer;
  position: relative;
  top: 100px;
}

.imageBlock {
  height: 512px;
  width: clamp(45ch, 50%, 75ch);
}

