.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  color: #1e1e1e;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.title {
  font-size: var(--font-size_medium);
  font-weight: 300;
  color: inherit;
}

.weAreHere {
  color: var(--font-color_blue);
}

.btnWaitlist {
  place-items: center;
  max-width: 260px;
  min-height: 60px;
  border: 1px solid var(--border-color_dark);
  border-radius: var(--border-radius_default);
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  top: 100px;
}

@media screen and (max-width: 768px) {
  .block {
    justify-content: space-between;
    padding-top: 100px;
  }

  .weAreHere {
    font-size: 16px;
    margin: 0 0 5px 0;
  }

  .title {
    font-size: 24px;
    margin: 0;
  }

  .btnWaitlist {
    max-width: 100%;
    font-size: 18px;
    top: 0;
    margin-bottom: 40px;
  }

  .infoBlock {
    font-size: 14px;
    width: 100%;
  }
}
