.bgOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s, background-color 1s;
}

.bgOverlayAbsolute {
  position: absolute;
}

.bgOverlayActive {
  opacity: 1;
}

.bgOverlayDark {
  background-color: #1B1B1B;
}

.bgOverlayItem {
  opacity: 0;
  transition: opacity 1s;
}

.bgOverlayItem1 {
  width: 355px;
  height: 355px;
  background: #2A87DC;
  filter: blur(200px);
  position: absolute;
  right: 212px;
  top: 312px;
  animation: bgOverlayAnimate1 4s infinite;
}

.bgOverlayItem2 {
  width: 355px;
  height: 355px;
  background: #6F63BC;
  filter: blur(200px);
  position: absolute;
  right: 0;
  top: 232px;
  animation: bgOverlayAnimate2 5s infinite;
}

.bgOverlayItem3 {
  width: 184px;
  height: 184px;
  background: #1EBAD2;
  filter: blur(200px);
  position: absolute;
  right: 476px;
  top: 257px;
  animation: bgOverlayAnimate3 3s infinite;
}

.bgOverlayItemActive {
  opacity: 1;
}

@keyframes bgOverlayAnimate1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-150px, 140px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bgOverlayAnimate2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-180px, 180px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bgOverlayAnimate3 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-250px, 250px);
  }

  100% {
    transform: translate(0, 0);
  }
}
